@use "../utils" as *;
@use "../global" as *;
@use "./enhanced-effects" as *;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
